<ul>
    <li>
        <div>

            <!--it will have two one will always be question and other will contain answers -->
            <!-- Questions -->
            <div>
                <p class="fw-bold">
                    Question
                </p>
                <hr>
                <p>
                    Problem Explaination - How we can display even numbers in counter in child components view when
                    button is clicked from parent component.
                </p>
            </div>
            <!-- Answers Div-->
            <div class="border border-primary p-2">

                <p class="text-success">Answer </p>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-primary" (click)="incrementCounter()">
                        Increment Counter
                    </button>

                    <button class="btn btn-success" (click)="resetCounter()">
                        Reset
                    </button>

                    <button class="btn btn-danger" (click)="decrementCounter()">
                        Decrement Counter
                    </button>
                </div>
                <hr>
                <div class="d-flex justify-content-center">
                    <app-child [countervalue]="count"></app-child>
                </div>
            </div>
        </div>
    </li>


    <li>
        <div>

            <!--it will have two one will always be question and other will contain answers -->
            <!-- Questions -->
            <div>
                <p class="fw-bold">
                    Question
                </p>
                <hr>
                <p>
                    Async pipe
                </p>
            </div>
            <!-- Answers Div-->
            <div class="border border-primary p-2">

                <p class="text-success">Answer </p>
                <div class="">
                    <p>
                        The async pipe in Angular is a built-in pipe that automatically subscribes to an Observable or
                        Promise and returns the most recent value it emitted.

                        <br> In the below example we are using async pipe to get the value from the observable and
                        display it in the view.

                        <br>
                        <br>
                        citiesObservable - is the observable
                    </p>

                    <div>
                        <ul>
                            <li *ngFor="let city of citiesObservable | async">
                                {{city}}
                            </li>
                        </ul>

                    </div>


                </div>

            </div>
        </div>
    </li>


    <li>
        <div>

            <!--it will have two one will always be question and other will contain answers -->
            <!-- Questions -->
            <div>
                <p class="fw-bold">
                    Question
                </p>
                <hr>
                <p>
                    Design a dropdown which takes list of timezone coming from dummy api. once any timezone is selected
                    display the current date as per the timezone.
                </p>
            </div>
            <!-- Answers Div-->
            <div class="border border-primary p-2">

                <p class="text-success">Answer </p>
                <div class="">
                    <p>List of timezones</p>

                    <div>
                        <select class="form-select" aria-label=" select timezone" (change)="onTimezoneChange($event)">
                            <option selected>Select timezone</option>
                            <option *ngFor="let time of timeZones" [value]="time.timezone">
                                {{time.country}}
                            </option>
                            
                        </select>
                    </div>

                    <div>
                        {{selectedTimezone}} : {{currentTime}}
                    </div>
                </div>

            </div>
        </div>
    </li>


    <li>
        <div>

            <!--it will have two one will always be question and other will contain answers -->
            <!-- Questions -->
            <div>
                <p class="fw-bold">
                    Question
                </p>
                <hr>
                <p>
                    Create an angular app that displays a todo list , implement CRUD operations on the TODO list and display list in sorted format by priority.
                </p>
            </div>
            <!-- Answers Div-->
            <div class="border border-primary p-2">

                <p class="text-success">Answer </p>
                <div>
                    <p>To Do list</p>

                    <div class="container">
                        <form [formGroup]="todoForm" (ngSubmit)="addToToDo()">
                          <label for="name">To-Do Name:</label>
                          <input id="name" formControlName="name" class="form-control" placeholder="Enter task name" />
                          <div *ngIf="todoForm.controls.name.invalid && todoForm.controls.name.touched" class="error">
                            Name is required (Min: 3 chars)
                          </div>
                      
                          <label for="priority">Priority:</label>
                          <select id="priority" formControlName="priority" class="form-select">
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                          </select>
                      
                          <button type="submit" [disabled]="todoForm.invalid" class="btn btn-primary mt-2">
                            Add To-Do
                          </button>
                        </form>
                      
                        <h3 class="mt-3">To-Do List</h3>
                        <ul class="list-group">
                          <li *ngFor="let todo of toDoList" class="list-group-item">
                            {{ todo.name }} - <strong>{{ todo.priority }}</strong>
                          </li>
                        </ul>
                      </div>
                      
                </div>

            </div>
        </div>
    </li>
</ul>